<nav class="navbar">
  <div class="logo">
    <h4><a ui-sref="home"><img src="http://s32.postimg.org/kmz8cz8xh/FSGX_logo_lg.png"></a></h4>
  </div>
  <div class="nav-links">
    <a ui-sref="about" class="nav-link" ui-sref-active="isActive">
      About
    </a>
    <a ng-if="!vm.user" ui-sref="login" class="nav-link" ui-sref-active="isActive">
      Login
    </a>
    <a ng-if="vm.user" href="#" ng-click="vm.logout()" class="nav-link">
      Logout
    </a>
    <a ng-if="vm.user" ui-sref="members" class="nav-link" ui-sref-active="isActive">
      {{vm.user.displayName}}
    </a>   
    <a ui-sref="members" class="nav-link" ui-sref-active="isActive">
      MembersOnly
    </a>   
  </div>
</nav>
